In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import json
import gmaps
import os
from pprint import pprint
# Import API key
from api_keys import g_key

In [2]:
# Load csv data into dataframe
data_df=pd.read_csv("../output_data/cities_data.csv")
data_df.head()

,City,Lat,Lng,Max_Temp,Humidity,Cloudiness,Wind_Speed,Country,Date
0,Bowen,-20.02,148.23,73.40,73,40,5.82,AU,1601028206
1,Burē,10.70,37.07,70.83,69,47,3.38,ET,1601028206
2,Ürümqi,43.80,87.60,60.80,40,17,13.42,CN,1601028207
3,Terrasini,38.15,13.08,88.00,48,29,23.04,IT,1601028207
4,Clyde River,70.47,-68.59,28.53,96,100,7.36,CA,1601028207

In [3]:
# Configure gmaps with API key
gmaps.configure(api_key=g_key)

In [4]:
# Create a poverty Heatmap layer
fig = gmaps.figure()
heat_layer = gmaps.heatmap_layer(data_df[["Lat","Lng"]], weights=data_df["Humidity"], 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 1)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# Narrow down the cities to fit weather conditions
# Drop cities with a maximum temp above 100 F and less than 70 F
ideal_df=data_df.drop(data_df[data_df['Max_Temp'] > 100].index , inplace=False)
ideal_df=ideal_df.drop(ideal_df[ideal_df['Max_Temp'] < 70].index , inplace=False)
# Drop cities with wind speed greater than 20 mph
ideal_df=ideal_df.drop(ideal_df[ideal_df['Wind_Speed']>20].index, inplace=False)
# Drop citis with cloudiness greater than 70
ideal_df=ideal_df.drop(ideal_df[ideal_df['Cloudiness']>70].index, inplace=False)
ideal_df

,City,Lat,Lng,Max_Temp,Humidity,Cloudiness,Wind_Speed,Country,Date
0,Bowen,-20.02,148.23,73.40,73,40,5.82,AU,1601028206
1,Burē,10.70,37.07,70.83,69,47,3.38,ET,1601028206
8,Thoen,17.61,99.22,83.53,86,68,3.27,TH,1601028208
9,Natal,-5.79,-35.21,73.40,94,40,4.70,BR,1601027932
10,Khani,41.96,42.96,89.60,38,10,12.75,GE,1601028209
...,...,...,...,...,...,...,...,...,...
662,Mount Isa,-20.73,139.50,78.80,14,0,6.93,AU,1601028392
663,Abéché,13.83,20.83,87.80,26,20,9.53,TD,1601028392
665,Monte Alegre,-2.01,-54.07,75.16,84,17,7.70,BR,1601028393
667,Port Macquarie,-31.43,152.92,71.01,33,0,1.01,AU,1601028394
668,Fare,-16.70,-151.02,79.32,77,3,13.87,PF,1601028394

In [6]:
### Hotel Map
#* Store into variable named `hotel_df`.
#* Add a "Hotel Name" column to the DataFrame.
#* Set parameters to search for hotels with 5000 meters.
#* Hit the Google Places API for each city's coordinates.
#* Store the first Hotel result into the DataFrame.
#* Plot markers on top of the heatmap.

In [21]:
# Store into variable named `hotel_df`.
# Add a "Hotel Name" column to the DataFrame

#hotel_df = pd.DataFrame(columns=['Hotel Name', 'City', 'Country', 'Lat', 'Lng'])

hotel_df=ideal_df[['City', 'Country', 'Lat', 'Lng']].reset_index()

hotel_df['Hotel Name']=""

del hotel_df['index']

hotel_df

               City Country    Lat     Lng Hotel Name
0             Bowen      AU -20.02  148.23
1              Burē      ET  10.70   37.07
2             Thoen      TH  17.61   99.22
3             Natal      BR  -5.79  -35.21
4             Khani      GE  41.96   42.96
..              ...     ...    ...     ...        ...
202       Mount Isa      AU -20.73  139.50
203          Abéché      TD  13.83   20.83
204    Monte Alegre      BR  -2.01  -54.07
205  Port Macquarie      AU -31.43  152.92
206            Fare      PF -16.70 -151.02

[207 rows x 5 columns]

In [40]:
# create a params dict that will be updated with new city each iteration

key=g_key
radius="5000"
type="lodging"
keyword="hotel"
rankby="distance"


#    "location": ideal_df[["Lat","Lng"]], 
#    "rankby": "distance",
#    "type": "lodging",
#    "key": gkey,



# Loop through the cities_pd and run a lat/long search for each city

for index, row in hotel_df.iterrows():
    
    url="https://maps.googleapis.com/maps/api/place/nearbysearch/json?"
    
    lat = str(row['Lat'])
    lng = str(row['Lng'])
    
    # update address key value
    location = f"{lat},{lng}"
    
    
    query_url = url + "location="+ location + "&radius=" + radius + "&type=" + "lodging" + "&keyword=" + keyword + "&key="+key
    #query_url = url + "location="+ loc + "&radius=" + radius + "&type=" + "lodging" + "&keyword=" + keyword + "&key="+key
    # make request
    hotel_data= requests.get(query_url)
  
     
    # print the cities_lat_lng url, avoid doing for public github repos in order to avoid exposing key
    # print(cities_lat_lng.url)
    
    # convert to json
    hotel_data = hotel_data.json()
    try:
        print("retreiving data")
        hotel_df.loc[index, "Lat"] = hotel_data["results"][0]["geometry"]["location"]["lat"]
        hotel_df.loc[index, "Lng"] = hotel_data["results"][0]["geometry"]["location"]["lng"]
        hotel_df.loc[index, "Hotel Name"]= hotel_data["results"][0]["name"]
    except:
        "Data not found"
# Visualize to confirm lat lng appear
hotel_df

lat=-19.9792147, lng=148.2597912
retreiving data
lat=10.7102662, lng=37.0818826
retreiving data
lat=17.6311173, lng=99.23927739999999
retreiving data
lat=-5.7803515, lng=-35.1935076
retreiving data
lat=42.0, lng=42.9999999
retreiving data
lat=41.759487, lng=86.15325
retreiving data
lat=-7.94, lng=110.25
retreiving data
lat=-25.2390223, lng=130.9834051
retreiving data
lat=-17.7380161, lng=-39.25800020000001
retreiving data
lat=54.6992116, lng=20.2045072
retreiving data
lat=33.9904852, lng=-6.8374098
retreiving data
lat=26.6014352, lng=127.9487331
retreiving data
lat=36.2078751, lng=-115.9814183
retreiving data
lat=6.2254421, lng=1.5880325
retreiving data
lat=-8.7598138, lng=-63.9068248
retreiving data
lat=37.5567702, lng=126.9771641
retreiving data
lat=-20.2933041, lng=57.78830019999999
retreiving data
lat=-15.785484, lng=128.736248
retreiving data
lat=5.03, lng=25.14
retreiving data
lat=17.9644038, lng=-102.2020067
retreiving data
lat=-23.8622222, lng=35.3783333
retreiving data
lat=12.8071863, lng=45.0277112
retreiving data
lat=5.4164221, lng=100.3429201
retreiving data
lat=34.45, lng=40.92
retreiving data
lat=-11.938886, lng=-38.08935839999999
retreiving data
lat=31.65, lng=-106.3
retreiving data
lat=28.473816, lng=-13.865657
retreiving data
lat=22.5664354, lng=59.4958585
retreiving data
lat=28.3992271, lng=129.5071563
retreiving data
lat=25.0871074, lng=61.7705451
retreiving data
lat=-3.5489598, lng=143.6297775
retreiving data
lat=-18.1434277, lng=49.4099551
retreiving data
lat=-13.954788, lng=33.79221
retreiving data
lat=-6.587821399999999, lng=-44.074974
retreiving data
lat=27.2503127, lng=-100.1414075
retreiving data
lat=-21.1553145, lng=-175.1771504
retreiving data
lat=-16.5052016, lng=-151.7014465
retreiving data
lat=42.0557719, lng=59.3752643
retreiving data
lat=27.2020616, lng=31.1941971
retreiving data
lat=18.39, lng=42.45
retreiving data
lat=8.4073937, lng=48.4978782
retreiving data
lat=-7.476865099999999, lng=-34.8110567
retreiving data
lat=-20.002344, lng=57.659766
retreiving data
lat=21.6385769, lng=69.6224032
retreiving data
lat=31.8610034, lng=35.8952406
retreiving data
lat=-20.4407751, lng=57.6714245
retreiving data
lat=-22.6642886, lng=167.4490816
retreiving data
lat=-20.23, lng=164.02
retreiving data
lat=39.5146732, lng=54.3598955
retreiving data
lat=54.035875, lng=19.0361242
retreiving data
lat=33.2549833, lng=134.1815472
retreiving data
lat=18.251465, lng=-63.0367101
retreiving data
lat=-15.1909167, lng=12.15125
retreiving data
lat=4.8919977, lng=-2.2654628
retreiving data
lat=0.81, lng=24.43
retreiving data
lat=-24.717564, lng=33.860042
retreiving data
lat=6.407523599999999, lng=-58.62017059999999
retreiving data
lat=-15.1239372, lng=39.2575306
retreiving data
lat=-10.4, lng=40.33
retreiving data
lat=-15.1600437, lng=-49.7924118
retreiving data
lat=-5.32, lng=119.37
retreiving data
lat=16.0726683, lng=108.2242885
retreiving data
lat=10.570591, lng=72.6381459
retreiving data
lat=14.915445, lng=79.99002
retreiving data
lat=-4.0, lng=33.7
retreiving data
lat=12.2257807, lng=109.2011799
retreiving data
lat=1.5586974, lng=110.344501
retreiving data
lat=5.1228212, lng=-1.251572
retreiving data
lat=37.89, lng=58.52
retreiving data
lat=14.908657, lng=-23.517966
retreiving data
lat=15.17, lng=44.32
retreiving data
lat=34.0195049, lng=-6.8299767
retreiving data
lat=19.1953979, lng=-104.6840751
retreiving data
lat=31.2039326, lng=16.5745658
retreiving data
lat=18.6462096, lng=-74.1226047
retreiving data
lat=22.0422873, lng=-159.3370131
retreiving data
lat=39.1445107, lng=23.8668551
retreiving data
lat=28.6433261, lng=-17.9349355
retreiving data
lat=19.1371753, lng=-72.0462755
retreiving data
lat=46.421899, lng=26.4403981
retreiving data
lat=14.3467729, lng=108.0074072
retreiving data
lat=15.1351531, lng=-23.2113436
retreiving data
lat=28.2445886, lng=83.9743846
retreiving data
lat=-8.48, lng=-74.81
retreiving data
lat=-3.8011994, lng=102.2747774
retreiving data
lat=27.7129614, lng=85.3241506
retreiving data
lat=7.142066, lng=40.7049244
retreiving data
lat=-28.4592317, lng=21.2460137
retreiving data
lat=12.016519, lng=-61.776995
retreiving data
lat=-25.282624, lng=152.9010368
retreiving data
lat=4.394251, lng=113.9898578
retreiving data
lat=18.7390029, lng=7.389477100000001
retreiving data
lat=-19.53085, lng=169.2705
retreiving data
lat=-17.73, lng=-149.15
retreiving data
lat=-3.75, lng=103.64
retreiving data
lat=22.98, lng=-82.92
retreiving data
lat=2.6809925, lng=72.9331367
retreiving data
lat=35.0383931, lng=25.9900652
retreiving data
lat=31.99075149999999, lng=130.9780383
retreiving data
lat=13.75, lng=-13.76
retreiving data
lat=26.59, lng=12.78
retreiving data
lat=39.24, lng=55.52
retreiving data
lat=-17.8731723, lng=36.88584609999999
retreiving data
lat=-2.0193355, lng=147.2673153
retreiving data
lat=42.827835, lng=93.513384
retreiving data
lat=41.9855356, lng=44.1119335
retreiving data
lat=40.3841884, lng=71.7813486
retreiving data
lat=3.2017335, lng=113.0586937
retreiving data
lat=-20.0786577, lng=146.2560814
retreiving data
lat=22.899317, lng=-109.8638429
retreiving data
lat=-22.8222691, lng=47.8290224
retreiving data
lat=43.0444302, lng=42.727593
retreiving data
lat=-2.88, lng=29.25
retreiving data
lat=-8.7707611, lng=160.6978127
retreiving data
lat=-27.085812, lng=152.9618279
retreiving data
lat=37.0865572, lng=-113.5791592
retreiving data
lat=-2.97, lng=-47.48
retreiving data
lat=2.8084028, lng=-60.6709384
retreiving data
lat=30.38238419999999, lng=67.7255097
retreiving data
lat=-10.1285715, lng=-36.1715965
retreiving data
lat=39.8811115, lng=4.2934247
retreiving data
lat=-1.8266915, lng=-44.8692269
retreiving data
lat=20.5, lng=-10.07
retreiving data
lat=-17.5817883, lng=-149.8515923
retreiving data
lat=-23.1309565, lng=150.7490923
retreiving data
lat=22.1414453, lng=-79.9798488
retreiving data
lat=54.833398, lng=18.3285038
retreiving data
lat=-19.02, lng=47.18
retreiving data
lat=17.49, lng=44.13
retreiving data
lat=27.9677576, lng=-114.0283356
retreiving data
lat=-0.59966, lng=73.08155
retreiving data
lat=6.062421899999999, lng=124.4927037
retreiving data
lat=-2.97, lng=-57.67
retreiving data
lat=47.6508843, lng=53.3387684
retreiving data
lat=-21.421936, lng=15.956779
retreiving data
lat=9.588732, lng=41.858811
retreiving data
lat=29.5357818, lng=34.9932756
retreiving data
lat=34.1349826, lng=-116.0798454
retreiving data
lat=20.4342215, lng=121.9600533
retreiving data
lat=21.44, lng=-157.84
retreiving data
lat=-13.1235023, lng=39.00515559999999
retreiving data
lat=3.8635056, lng=-67.9190807
retreiving data
lat=-16.7495773, lng=-151.4892092
retreiving data
lat=16.815049, lng=-99.86137049999999
retreiving data
lat=12.97, lng=77.23
retreiving data
lat=-19.790873, lng=-174.346584
retreiving data
lat=-9.803797999999999, lng=-139.026675
retreiving data
lat=32.2319455, lng=54.0153658
retreiving data
lat=46.8728275, lng=40.7297502
retreiving data
lat=32.6796393, lng=-17.1030927
retreiving data
lat=6.133493000000001, lng=81.1319334
retreiving data
lat=-25.1787115, lng=46.0877394
retreiving data
lat=32.5693802, lng=20.6280568
retreiving data
lat=35.1976638, lng=129.2280861
retreiving data
lat=-23.3749445, lng=150.5112551
retreiving data
lat=27.27, lng=31.15
retreiving data
lat=-1.2755682, lng=116.8347997
retreiving data
lat=-6.2238104, lng=-57.7566561
retreiving data
lat=15.1339723, lng=108.7966552
retreiving data
lat=31.67244639999999, lng=38.6596733
retreiving data
lat=-21.1120683, lng=149.2240027
retreiving data
lat=26.5518807, lng=31.6973211
retreiving data
lat=44.1007864, lng=39.0570934
retreiving data
lat=39.799194, lng=98.27011
retreiving data
lat=25.2492975, lng=64.5966851
retreiving data
lat=31.37, lng=-106.02
retreiving data
lat=-20.5122835, lng=57.47125659999999
retreiving data
lat=-25.17, lng=45.05
retreiving data
lat=37.35, lng=59.61
retreiving data
lat=24.35, lng=68.27
retreiving data
lat=-16.099199, lng=23.297499
retreiving data
lat=29.03272369999999, lng=21.5458054
retreiving data
lat=-8.191927, lng=114.9626062
retreiving data
lat=29.8473422, lng=80.5369058
retreiving data
lat=-28.8727355, lng=153.5624457
retreiving data
lat=1.2301402, lng=111.4564122
retreiving data
lat=-19.0607788, lng=-169.9217526
retreiving data
lat=-16.9865082, lng=145.4202666
retreiving data
lat=-19.9945039, lng=57.63651489999999
retreiving data
lat=16.15, lng=36.2
retreiving data
lat=-0.3501052, lng=42.5620252
retreiving data
lat=-21.0423622, lng=-57.8696288
retreiving data
lat=38.2721112, lng=39.7507683
retreiving data
lat=13.22, lng=-59.52
retreiving data
lat=-4.07, lng=35.38
retreiving data
lat=22.532998, lng=114.058139
retreiving data
lat=13.3126519, lng=12.590391
retreiving data
lat=-8.0733368, lng=111.9048574
retreiving data
lat=-10.4232028, lng=-36.4627096
retreiving data
lat=-3.2391475, lng=-39.2322901
retreiving data
lat=41.9266869, lng=25.9103264
retreiving data
lat=39.7666, lng=98.5666
retreiving data
lat=-20.3139254, lng=118.5760814
retreiving data
lat=39.8811115, lng=4.2934247
retreiving data
lat=12.12, lng=-61.62
retreiving data
lat=5.3623934, lng=-52.9624634
retreiving data
lat=-6.640848999999999, lng=-51.9828226
retreiving data
lat=-5.0358879, lng=32.8239549
retreiving data
lat=51.0305409, lng=21.0424729
retreiving data
lat=14.8956863, lng=-24.4986942
retreiving data
lat=8.27, lng=16.94
retreiving data
lat=40.9554428, lng=39.8526044
retreiving data
lat=-20.7261401, lng=139.4928025
retreiving data
lat=13.8141706, lng=20.8378508
retreiving data
lat=-2.0061643, lng=-54.06699769999999
retreiving data
lat=-31.4270974, lng=152.8987813
retreiving data
lat=-16.710438, lng=-151.038
retreiving data

,City,Country,Lat,Lng,Hotel Name
0,Bowen,AU,-19.979215,148.259791,Whitsunday Sands Resort
1,Burē,ET,10.710266,37.081883,Meseret Hotel
2,Thoen,TH,17.631117,99.239277,Nakornthoen Hotel
3,Natal,BR,-5.780352,-35.193508,Porto Suites Natal Hotel
4,Khani,GE,42.000000,43.000000,Nino village
...,...,...,...,...,...
202,Mount Isa,AU,-20.726140,139.492803,ibis Styles Mt Isa Verona
203,Abéché,TD,13.814171,20.837851,Hotel Cesar
204,Monte Alegre,BR,-2.006164,-54.066998,Hotel & Restaurante Panorama
205,Port Macquarie,AU,-31.429709,152.916756,ibis Styles Port Macquarie
206,Fare,PF,-16.710438,-151.038000,Maitai Lapita Village Huahine

'-20.02,148.23'

In [35]:

for loc in location:
    
    query_url = url + "location="+ loc + "&radius=" + radius + "&type=" + "lodging" + "&keyword=" + keyword + "&key="+key
    try:
        print("Retreiving data")
    
        response=requests.get(query_url)
        response_json=response.json()
        results=response_json['results']
        names.append(results[0]['name'])
        locations.append(results[0]['geometry']['location'])
        address.append(results[0]['plus_code']['compound_code'])
        #city.append(ideal_df["Ctiy"]address[2])
        #country.append(address[3])
     
    except:
        print("Data not found")
    
    #params = {
#    "location": ideal_df[["Lat","Lng"]], 
#    "rankby": "distance",
#    "type": "lodging",
#    "key": gkey,

# Define query_url

TypeError: can only concatenate str (not "tuple") to str